@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
}

.imposter {
    background: rgba(55, 55, 55, 80%);

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #ddd;
    
    padding: .5em;

    box-shadow: 0 0 8px rgba(0, 0, 0, 60%);
}

.board {
    background: #2f2f2f;

    width: 80vh;
    height: 80vh;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: .5em;
}

.tile {
    background: #ddd;

    display: flex;
    justify-content: center;
    align-items: center;
}

.full-board {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
}

.cross {
    width: 100%;
    height: 100%;
    background: pink;
    position: relative;
    transition: .3s;
}

.cross::before {
    content: '';
    position:absolute;
    width: 100%;
    height: 10%;
    top: 45%;
    border-radius: 1em;
    background-color: #333;
    animation-duration: 0.5s;
    animation-name: cross-top;
    transform: rotate(45deg);
}

.cross::after {
    content: '';
    position:absolute;
    width: 100%;
    height: 10%;
    border-radius: 1em;
    background-color: #333;
    bottom: 45%;
    animation-duration: 0.5s;
    animation-name: cross-bottom;
    transform: rotate(-45deg);
}

@keyframes cross-top {
    from {
        top: 10%;
        transform: rotate(0deg);
    }
    to {
        top: 45%;
        transform: rotate(45deg);
    }
}

@keyframes cross-bottom {
    from {
        bottom: 10%;
        transform: rotate(0deg);
    }
    to {
        bottom: 45%;
        transform: rotate(-45deg);
    }
}

.nought {
    width: 100%;
    height: 100%;
    background: lightgreen;
    position: relative;
}

.nought::before {
    content: '';
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background: #333;
    
    animation-duration: 0.5s;
    animation-name: growt;
}

.nought::after {
    content: '';
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    border-radius: 50%;
    background: lightgreen;
    
    animation-duration: 0.5s;
    animation-name: growt;
}

@keyframes growt {
    from {
        transform: scale(0);
    }
    to {
        transform: none;
    }
}

.draw {
    width: 100%;
    height: 100%;
    background: lightyellow;

    position: relative;
}

.draw::before {
    content: 'Draw';
    position: absolute;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;

    font-size: 6em;
    font-family: 'Sriracha', cursive;
    
    animation-duration: 0.5s;
    animation-name: growt;
}
